@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scroll-snap-type-x {
    scroll-snap-type: x mandatory;
  }
  .scroll-snap-align-center {
    scroll-snap-align: center;
  }
}

/* Premium Perspective and Transitions */
.scroll-snap-align-center {
  perspective: 1000px;
  backface-visibility: hidden;
  will-change: transform, opacity, filter;
}